:root {
  --v-dark-blue-top-bg: hsl(232, 19%, 15%); // Top background pattern
  --v-pale-blue-bg: hsl(225, 100%, 98%); // Top background pattern
  --desat-dark-blue-bg: hsl(228, 28%, 20%); // Card background
  --l-grayish-blue-bg: hsl(227, 47%, 96%); // Card background
  --v-dark-blue-bg: hsl(230, 17%, 14%); // Background
  --white-bg: hsl(0, 0%, 100%); // White background
  --d-grayish-blue-text: hsl(228, 12%, 44%); // Text
  --v-dark-blue-text: hsl(230, 17%, 14%); // Text
  --desat-blue-text: hsl(228, 34%, 66%); // Text
  --white-text: hsl(0, 0%, 100%); // Text

  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --toggle-start: hsl(210, 78%, 56%);
  --toggle-end: hsl(146, 68%, 55%);
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --youtube: hsl(348, 97%, 39%);
  --twiter: hsl(203, 89%, 53%);
  --toggle: hsl(230, 22%, 74%);
}